.card{
    height:fit-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    background-color:dimgray;
    border-radius: 10px;
    border-width: 0px; 
    margin: 4px;
}
