.infobox {
    margin: 2rem 0;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    font-size: 0.85rem;
    border-radius: 4px;
  }
  
  .infobox-hint {
    border: 2px solid #96f5f7;
    font-size: 20px;
  }

  
  .infobox-warning.warning--low {
    border: 2px solid #f6d84f;
    color: #f6d84f;
  }
  
  .infobox-warning.warning--medium {
    border: 2px solid #f9a73b;
    color: #f9a73b;
  }
  
  .infobox-warning.warning--high {
    border: 2px solid #f97373;
    color: #f97373;
  }