label{
    color:black;
    font-size: 500;
}

ul{
    list-style-type: none;
}
input{
    border-radius: 10px;
    border-width: 0;
    height: 45px;
    width: 300px;
    margin: 5px;
    padding: 2px;
}

button{
    background-color: yellow;
    font-size: bold;
    height: 45px;
    width: 120px;
    border-radius: 10px;
    border-width: 0;  
    margin: 5px;
}